<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AcaDorm | About</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="stylesheet" href="/styles/style.css">
    <script src="https://kit.fontawesome.com/94d4f3205c.js" crossorigin="anonymous"></script>
</head>
<body>
    <!-- NAV BAR -->
    <%- include('./partials/nav-not-logged-in.ejs') %>

    <!-- ABOUT -->
    <img src="images/home-bg-condo2.jpg" alt="" class="home-bg--img">
    <div class="home-bg__overlay"></div>
    <div class="about">
        <div class="about-content">
            <span class="about__title">About Us</span>
            <p class="about__essay">
                AcaDorm is an online navigation and advertising website for dormitories near universities in Metro Manila, particularly around the University Belt. 
                Acadorm is made by three Thomasian students whose aim is to help their fellow students that may encounter difficulties finding the exact dormitories that fit their needs and are close to their second home - their academe. 
            </p>
            <p class="about__essay">
                Given that the creators of the website are students as well, they share the same experiences with their target audience as they know very well  the struggles of searching for the right dorm. 
                Acadorm aims to help dorm or property owners to promote or showcase their dorms that are ready to be occupied without the hassle of having to physically advertise their property thus, 
                Acadorm’s ultimate purpose is to connect owners and prospective student tenants with ease. 
            </p>
        </div>
        <div class="about__socials">
            <p class="about__follow-text">Follow us on:</p>
            <a href="https://www.facebook.com/AcaDorm-114120464636562" class="fa fa-facebook"></a>
            <a href="https://twitter.com/AcaDormPH" class="fa fa-instagram"></a>
            <a href="https://www.instagram.com/acadormph/" class="fa fa-twitter"></a>
        </div>
    </div>
    <script src="/script.js"></script>
</body>
</html>