<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AcaDorm | Forgot Password</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="stylesheet" href="/styles/style.css">
    <script src="https://kit.fontawesome.com/94d4f3205c.js" crossorigin="anonymous"></script>
</head>
<body>
    <!-- NAV BAR -->
    <%- include('./partials/nav-not-logged-in.ejs') %>

    <!-- FORGOT PASSWORD -->
    <div class="log-in">
        <form class="forgot-pw__box" action="/verification" onsubmit="return validateForgotPassword()">
            <p class="forgot-pw__title">Trouble Logging in?</p>
            <p class="forgot-pw__msg">Enter your email and we'll send you a link to get back into your account..</p>
            <input type="email" placeholder="Email" id="forgot-pw__email" class="forgot-pw__input" maxLength="254" required>
                <button class="log-in__button verification__resend">Send Login Link</button>
        </form>
        <a href="/log-in" class="log-in__register--text verification__back">Back to Login</a>
    </div>

    <script src="/script.js"></script>
</body>
</html>