<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AcaDorm | Log In</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="stylesheet" href="/styles/style.css">
    <script src="https://kit.fontawesome.com/94d4f3205c.js" crossorigin="anonymous"></script>
</head>
<body>
    <!-- NAV BAR -->
    <%- include('./partials/nav-not-logged-in.ejs') %>

    <!-- LOG IN -->
    <%- include('./partials/messages.ejs') %>
    <div class="log-in">
        <form method="post" action="/log-in" class="log-in__box">
            <input type="text" name="username" placeholder="Username" id="log-in__username" class="log-in__input" maxLength="16" required oninput="validateUsernameInput(this)" onpaste="validateUsernamePaste(this, event)">
            <input type="password" name="password" placeholder="Password" id="log-in__password" class="log-in__input" required maxLength="254">
            <a href="/forgot-password" class="log-in__forgot-pw">Forgot password?</a>
                <button class="log-in__button" type="submit">Log In</button>
        </form>
        <div class="log-in__register--text-container">
            <p class="log-in__register--text">Looking to be a Dorm Owner?</p>
            <p class="log-in__register--text">Register now!</p>
        </div>
        <a href="/register">
            <button class="log-in__register">Register</button>
        </a>
    </div>
    <script src="/script.js"></script>
</body>
</html>